<footer class="footer page-footer grey darken-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contato com o criador</h5>
        <ul>
          <li><a target="_BLANK" class="grey-text text-lighten-3" href="{{ site.url_facebook }}">Facebook</a></li>
          <li><a target="_BLANK" class="grey-text text-lighten-3" href="{{ site.url_github }}">GitHub</a></li>
          <li><a target="_BLANK" class="grey-text text-lighten-3" href="{{ site.url_linkedin }}">Linkedin</a></li>
           <li><a target="_BLANK" class="grey-text text-lighten-3" href="{{ site.url }}">Site pessoal</a></li>

        </ul>
      </div>
    </div>
  </div>

  <hr class="grey lighten-5" style="width: 70%;">

  <div class="footer-copyright">
    <div class="container">
      Desenvolvido por <a href="http://fziliotti.esy.es/">FZiliotti</a> - <span id="anoAtualDoSite"></span>
    </div>

    <script>
      let data = new Date();
      let ano = data.getFullYear();
      document.getElementById("anoAtualDoSite").innerHTML = ano ;
    </script>
  </div>
</footer>
